<div aria-hidden="false" aria-labelledby="modalWindow" class="modal fade" id="modal-window" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
      </div>
    </div>
    <span "aria-hidden" = "true"> ×</span>
  </div>
</div>

